* {
  box-sizing: border-box;
  font-family: sans-serif;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}

body {
    margin: 0 40px;
}

h1 {
  background-color: #363636;
  color: #ffffff;
  text-align: center;
  padding: 15px;
}

li {
  float: left;
  list-style: none;
  background-color: #D2D2D2;
  color: #EDF7FE;
}

ul {
  display: block;
}

h2 {
  background-color: #41FFD2;
  margin: 10px 70px;
  padding: 15px;
  font-weight: none;
}

span {
  margin: 0;
  font-weight: bold;
  border-bottom: 3px solid yellow;
}
